.outer-container {
  height: 100vh; 
  overflow: hidden; 
}

.main-container {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  width: 95%;
  box-sizing: border-box;
}

.left-section {
  flex: 1;
  max-height: 90vh; 
  overflow-y: auto; 
  overflow-x: hidden; 
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px; 
  border-right: 2px solid #ccc; 
}

.pokemon-item {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.2s;
}

.pokemon-item:hover {
  background-color: #f0f0f0;
}

img {
  width: 100px;
  height: 100px;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}

.search-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 8px;
  padding: 0 10px;
}

.field-spacing {
  flex: auto;
}